body {
    font-family: 'Aleo', serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* الحاوية */
.page2-container {
    background-color: silver;
    border: 2px solid white;
    padding: 25px;
    width: 350px;
    margin: 40px auto;
    text-align: center;
    border-radius: 12px;
}

/* العنوان */
.page2-title {
    font-size: 24px;
    color: rgb(243, 85, 111);
    font-weight: bold;
    margin-bottom: 20px;
}

/* النص */
.page2-value {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
    background-color: rgb(239, 129, 109);
    padding: 10px;
    border-radius: 6px;
    border: 4px solid rgb(208, 21, 77);
}

/* الزر */
.page2-btn {
    margin: 10px;
    padding: 10px 18px;
    background-color: #ff6fa8;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 15px;
}

.page2-btn:hover {
    background-color: #ad235a;
}

/* الرابط */
.page2-link {
    color: rgb(201, 52, 92);
    text-decoration: none;
    font-weight: bold;
}

.page2-link:hover {
    text-decoration: dashed underline #ff3c8b;
    color: rgb(211, 19, 54);
}