body {
    font-family: 'Aleo', serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.page1-container {
    background-color: silver;
    border: 2px solid white;
    padding: 25px;
    width: 350px;
    margin: 40px auto;
    text-align: center;
    border-radius: 12px;
}

.page1-title {
    font-size: 24px;
    color: rgb(243, 85, 111);
    font-weight: bold;
    margin-bottom: 20px;
}

.page1-input {
    background-color: rgb(239, 129, 109);
    width: 75%;
    padding: 10px;
    border-radius: 6px;
    border: 5px solid rgb(208, 21, 77);
    outline: none;
    transition: 0.2s;
    margin-bottom: 15px;
}

.page1-input:focus {
    border-color: #4caf50;
    box-shadow: 0 0 6px #4caf50;
}

.page1-btn {
    margin: 10px;
    padding: 10px 18px;
    background-color: #ff6fa8;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 15px;
}

.page1-btn:hover {
    background-color: #ad235a;
}

.link-wrapper {
    margin-top: 20px;
}

.page1-link {
    color: rgb(201, 52, 92);
    text-decoration: none;
    font-weight: bold;
}

.page1-link:hover {
    text-decoration: dashed underline #ff3c8b;
    color: rgb(211, 19, 54);
}
